*.o
Makefile
Makefile.in
/aclocal.m4
/compile
/config.log
/configure
/depcomp
/dlg_ds_search.ii
/dlg_ds_search.s
/install-sh
/missing
/moc_datovka.cpp
/moc_dlg_about.cpp
/moc_dlg_change_pwd.cpp
/moc_dlg_contacts.cpp
/moc_dlg_create_account.cpp
/moc_dlg_ds_search.cpp
/moc_dlg_preferences.cpp
/moc_dlg_proxysets.cpp
/moc_dlg_send_message.cpp
/moc_dlg_view_zfo.cpp
/qdatovka
/qrc_resources.cpp
/src/config.h.in
/ui_datovka.h
/ui_dlg_about.h
/ui_dlg_change_pwd.h
/ui_dlg_contacts.h
/ui_dlg_create_account.h
/ui_dlg_ds_search.h
/ui_dlg_preferences.h
/ui_dlg_proxysets.h
/ui_dlg_send_message.h
/ui_dlg_view_zfo.h
